# Environment variables
.env.development.local
.env.local
.env.production.local
.env.test.local

# Build
/dist

# Libraries
/.yarn/cache
/.yarn/install-state.gz
/node_modules

# Caches
.eslintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
